body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: #f3f3f3;
}


input, button {
    display: flex;
   }
input {
    height: 50px;
    width: 80px;
    background: transparent;
    border: 2px solid #a887ff;
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 2px 10px;
    font-size: xx-large;
    color: white;
    text-align: center;
    font-weight: bold;
}

button {
    color: black;
    background: white;
    border: transparent;
    margin: 10px 20px ;
    padding: 5px 20px;
    border-radius: 4px;
    font-weight: bold;

}

#top-1 {
    background-color: #5e3afd;
    justify-content: center;
    justify-items: center;
    color: white;
}



#top-2 {
    justify-content: center;
    justify-items: center;
    background-color: #f3f3f3;
}

#d1 h2,#d2 h2,#d3 h2 {
    /* background: #5e3afd; */
    color: #6f6d7c;
}


#d1, #d2, #d3 {
    background-color: white;
    padding: 20px 130px;
    /* margin: 10px; */
    text-align: center;
    margin: 40px auto;
}

#d1 {
    padding: 20px 150px;
}
#d2 {
    padding: 20px 130px;
}

#d3 {
    padding: 20px 140px;
   
}


/* #6f6d7c */